button {
  display: inline-block;
  float: center;
  color: white;
  background-color: green;
  margin-left: 4em;
  font-size: .9em;
  padding: 8px;
}

h1 {
  display: inline-block;
  margin: 2em;
  text-align: center;
}
